BODY              { color: white; font-size: 12px; font-family: arial, Helvetica, sans-serif; line-height: 15px; text-decoration: none }

TD        { color: white; font-size: 12px; font-family: arial, Helvetica, sans-serif; text-decoration: none }



A:link         { color: white; text-decoration: none; background-color: transparent }

A:visited     { color: white; text-decoration: none; background-color: transparent }

A:hover           { color: #160097; text-decoration: underline; background-color: transparent }
.class { color: white; font-size: 14px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.klein { text-align: justify }
.mini   { font-size: 10px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; line-height: 11px; text-align: justify }
.mini1  { font-size: 11px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; line-height: 12px; text-align: justify }
.orange  { color: #afbcf3 }
.weiss { color: white }
.titel   { color: white; font-size: 13px; font-weight: bold; line-height: 19px }
