div {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
    color:#151515;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    width: 100%;
}

h3 {
    font-size: 30px;
}

.titleContainer {
    background-image: url("/assets/images/suit.jpg");
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:  #FAFAFA;
    margin-left: auto;
    margin-right: auto;
}

.titleHead {
    font-size: 50px;
    padding-top: 100px;
}

.introContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: px;
}

#introElem {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: top;
    
    width: 40%;
    height: 80%;
    margin: 5%;
}

#introImg {
    height: 80%;
    width: 35%;
    margin: 5%;
    border: 2px solid #151515;
    
}

.introText{
    color: #2E2E2E;
}

.servContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #151515;
    height: 700px;
}

#servHead {
    width: 100%;
    margin-bottom: 0%;
    margin-top: 5%;
    color: #ffffff;
}

.servElem {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 25%;
    width: 40%;
    color: #ffffff;
}

.serveText {
    color: #ffffff;
}

.newWage {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 50%;
}

.cont {
    background-image: url("/assets/images/phone.jpg");
}

#intro2 {
    margin: 50px;
}

#intro3 {
    margin: 50px;
}

.titleButton {
    background-color: #19cfc0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    width: 120px;
    height: 50px;
    margin: 20px;
    margin-top: 300px;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.abmeContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: #FAFAFA;
   
}

#klausImg {
    height: 80%;
    width: 40%;
    margin: 5%;
}

.abmeElem {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: top;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin: 5%;
}

.abmeText{
    color:#2E2E2E;
    
}

.contactContainer{
    height: 300px;
    background-image: url("/assets/images/books2.jpg");
}

.contactContainer2{
    height: 600px;
    ;
}

