<div class="titleContainer">
  <h1 class="titleHead">{{job}} <br /> {{name}}</h1>
  <button class="titleButton" (click)="scroll(abme)"> Über mich</button>
  <button class="titleButton" (click)="scroll(serv)"> Leistungen</button>
  <button class="titleButton" (click)="scroll(cont)"> Kontakt</button>
</div>





<div class='introContainer' #intro>
  <img id='introImg' src="/assets/images/law.jpg" alt="Bild einer Wage">
  <div id="introElem">
    <h2>{{introduction}}</h2>
    <p class="introText">{{intro1}}</p>
    <p class="introText">{{intro1}}</p>
  </div>

</div>





<div class='servContainer' #serv>
  <h2 id="servHead">{{services}}</h2>
  <div class='servElem'>
    <div class="serveText">
      <h3 class="lawClass">{{serv1}}</h3>
      <p>{{serv1text}}</p>
    </div>
    <img class='newWage' src="/assets/images/happy.jpg" alt="Bild einer Wage">
  </div>
  <div class='servElem'>
    <img class='newWage' src="/assets/images/happy.jpg" alt="Bild einer Wage">
    <div class="serveText">
      <h3 class="lawClass">{{serv2}}</h3>
      <p>{{serv2text}}</p>
    </div>
  </div>
  <div class='servElem'>
    <div class="serveText">
      <h3 class="lawClass">{{serv3}}</h3>
      <p>{{serv3text}}</p>
    </div>
    <img class='newWage' src="/assets/images/happy.jpg" alt="Bild einer Wage">
  </div>
  <div class='servElem'>
    <img class='newWage' src="/assets/images/happy.jpg" alt="Bild einer Wage">
    <div class="serveText">
      <h3 class="lawClass">{{serv4}}</h3>
      <p>{{serv4text}}</p>
    </div>
  </div>
</div>



<div class='abmeContainer' #abme>
  <div class="abmeElem">
    <h2 class="abmeText">{{aboutme}}</h2>
    <p class="introText">{{intro1}}</p>
    
  </div>
  <img id='klausImg' src="/assets/images/cloony.jpg" alt="Schöner typ">
</div>

<div class='contactContainer'>
    <h2>{{contact}}</h2>
  </div>



<div class='contactContainer2' #cont>
  <h2>{{contact}}</h2>
</div>
<div #impress>{{impressum}}</div>