/* ============================ Main ============================ */
div {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
  color: #151515;
}

a:link {
  color: #107896;
}

/* visited link */
a:visited {
  color: #C02F1D;
}

h1 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 40px;
  width: 100%;
}

h3 {
  font-size: 30px;
}



/* ============================ Title ============================ */
.titleContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  height: 97vh;
  width: 100%;

  background-image: url("/assets/images/suit.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #FAFAFA;
  justify-content: space-between;

}

.titleHead {
  font-size: 50px;
  width: 100%;
  margin-top: 2%;
}

.titleElem {
  margin-top: auto;
  margin-bottom: 2%;
  width: 100%;
}

.titleButton {
  background-color: #19cfc0;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  width: 115px;
  height: 50px;
  margin: 20px;
  margin-top: 0%;
  margin-bottom: 0%;
}



/* ============================ Intro ============================ */
.introContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#introElem {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: top;
  width: 40%;
  height: 80%;
  margin: 5%;
}

#introImg {
  height: 40%;
  width: 35%;
  margin: 5%;
}

.introText {
  color: #2E2E2E;
}

.introHead {
  margin-bottom: 3%;
}



/* ============================ Services ============================ */
.servContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #151515;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  background-image: url("/assets/images/serviceImg.jpg");
  background-attachment: scroll;
  background-position: top;
}

#servHead {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  align-self: flex-start;
  color: #ffffff;
}

.servElem {
  width: 35%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #dddddd;
  margin-bottom: 5%;
}

.specialHead {
  width: 100%;
  margin-bottom: 2%;
}

ul {
  width: 75%;
  text-align: left;
  color: #bcbcbc;
}



/* ============================ Misc ============================ */
.cont {
  background-image: url("/assets/images/phone.jpg");
}

#intro2 {
  margin: 50px;
}

#intro3 {
  margin: 50px;
}



/* ============================ About Me ============================ */
.abmeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFAFA;
}

#klausImg {
  height: 300px;
  width: auto;
  margin: 5%;
}

#lageImg {
  height: 200px;
  width: 200px;
  margin: 5%;
}

.abmeElem {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: top;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin: 1%;
}

.abmeText {
  color: #2E2E2E;
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  height: 200px;
  background-image: url("/assets/images/books2.jpg");
}



/* ============================ Contact and Location ============================ */
.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contactElem {
  width: 50%;
  display: flex;
  margin-top: 3%;
  margin-bottom: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.contactText {
  margin-bottom: 5px;
}

.contactHead {
  margin-bottom: 5%;
}

.officeHead {
  font-size: 130%;
  margin-bottom: 1%;
}

#melanieSubText {
  font-size: 80%;
  margin-bottom: 0.5%;
}

iframe {
  margin-top: 2%;
  width: 60%;
}

.mkText {
  font-weight: bold;
}



/* ============================ Mobile ============================ */
@media only screen and (max-width: 767px) {
  .titleButton {
    margin: 1%;
  }

  .introContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;

  }

  #introElem {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: top;
    width: 70%;
    height: 50%;
    margin: 5%;
  }

  #introImg {
    height: 60%;
    width: 60%;
    margin: 5%;
  }

  .servContainer {
    justify-content: center;
    background-color: #151515;

    width: 100%;
    align-items: flex-start;
    align-content: flex-start;

  }

  #servHead {
    margin-top: 5%;
    margin-bottom: 20%;
  }

  .servElem {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  ul {
    text-align: left;
    color: #bcbcbc;
  }

  .abmeContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFAFA;
  }

  .abmeElem {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 40%;
    margin: 5%;
  }

  .contactContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #klausImg {
    height: 60%;
    width: 60%;
  }

  .contactElem {
    height: 400px;
    border-bottom: 1px solid black;
  }

  .backgroundContainerBottom {
    height: 30vh;
  }

  .contactElem {
    width: 100%;
  }

  iframe {
    width: 70%;
  }

}




/* ============================ Touch Device ============================ */
@media (hover: none) {
  .titleContainer {
    background-attachment: initial;
    height: 80vh;
  }

  .backgroundContainer {
    background-attachment: initial;
    height: 150px;
  }

}



/* ============================ Scroll Wheel ============================ */
.myButton:active {
  position: relative;
  top: 1px;
}

.mouse_scroll {
  align-self: center;
  margin-bottom: 2%;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
