<div class="title">
  <div class="test"></div>
  <h1 class="header">{{job}} <br/> {{name}}</h1>
  <button class="myButton" (click)="scroll(test)"> Über mich</button>
  <button class="myButton" (click)="scroll(test)"> Leistungen</button>
  <button class="myButton" (click)="scroll(test)"> Bla</button>
</div>


<div #test> 
    <p>{{introduction}}</p>
</div>
<div>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>
  <p>{{services}}</p>

</div>
<div>
  <p>{{aboutme}}</p>
</div>
<button class="myButton" (click)="scroll(test)"> BUTTON</button>
